body {
    font-family: Arial, Helvetica, sans-serif;
}

body ::selection {
    color:rgb(157, 0, 63);
}

#row1sec1 {
    background-color: #F8F4E3;
    padding: 20px;
}

#h1s1 {
    text-align: center;
}

#p1s1 {
    text-align: justify;
}





#row2sec2 {
    background-color: #c2ccae ; 
}

#secondSection{ 
    background-color: #c2ccae ;
    padding: 20px; 
}

#h2s2 { 
    text-align: center;
}

#p1s2 {
    text-align: justify;
}

h5 {
    text-align: center;
}

#p2s2 {
    text-align: justify;
}

#p3s2 {
    text-align: justify;
}

#img1s2 {
    border-radius: 50%;
}

#img2s2 {
    border-radius: 50%;
}

#img3s2 {
    border-radius: 50%;
    
}






#thirdSection {
    padding: 20px;
    background-color: #F8F4E3;
    
}

h3 {
    text-align: center;
}

#p1s3 {
    text-align: justify;
}

#p2s3 {
    text-align: justify;
}

#p3s3 {
    text-align: justify;
}

#row1sec3 {
    background-color: #F8F4E3;
    padding-top: 20px;
    padding-bottom: 20px;
}

#row2sec3 {
    background-color: #F8F4E3;
    padding-top: 20px;
    padding-bottom: 20px;
}

#row3sec3 {
    background-color: #F8F4E3;
    padding-top: 20px;
}





#fourthSection {
    background-color: #c2ccae;
}

#h2s4 {
    text-align: center;
}

#p1s4 {
    text-align: center;
    color: rgb(51, 79, 51);
}

#row1sec4 {
    background-color: #c2ccae;
    padding-top: 20px;
}

#row2sec4 {
    background-color: #c2ccae;
}

#row3sec4 {
    background-color: #c2ccae;
}

#row4sec4 {
    background-color: #c2ccae;
}





#fifthSection {
    background-color: #F8F4E3;
    
} 

#h2s5 {
    text-align: center;
    padding-top: 20px;
}

#p1s5 {
    text-align: justify;
    padding-right: 20px;
}

#h3s5 {
    padding-top: 40px;
}
#pps5 {
    text-align: center;
    color: rgb(51, 79, 51);
}

#formdiv {
    width: 300px;
  border: 15px solid rgb(51, 79, 51);
  padding: 50px;
  margin: 20px;
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     max-width: 100%;
     max-height:100%;
   }
   
   .text {
     font-size: 70px;
   }

 #quotebox {
    width: 300px;
  border: 5px solid rgb(51, 79, 51);
  padding: 30px;
  background-color: #c2ccae;
  
   }

#quoteImg {
    border-radius: 50%;
    position: absolute;
    left: 50px;
    width: 40px;
 

}





#lastSection {
    background-color: #F8F4E3;
}

#p1l {
    text-align: center;
    color:#bebbae;
}
 
#p2l {
    text-align: center;
    color: #bebbae;
}
